@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*

    Made in 2022 by Joe Doherty
*@



@*Tabs*@
<div class="tabContainer">
    <button class="tabButton" onclick="showDiv('addCalcDiv', 'block')">JS Form Test</button>
    <button class="tabButton" onclick="showDiv('razorMagic', 'grid')">Grid Test</button>
    <button class="tabButton" onclick="showDiv('productGrid', 'block')">Product Grid</button>
    <button class="tabButton" onclick="showDiv('hubPage', 'flex')">Hub Page Concept</button>
</div>
@* Revealers *@
<div id="addCalcDiv" class="tabBox" style="display: none;">
    <h3>This is just an addition calculator to test forms</h3>
    <p>Try to add things that aren't numbers to find out what British people call their grandma</p>
    <form>
        <label for="num1">Number to Add</label>
        <input typeof="text" id="num1" name="num1">
        <label for="num2">Number to Add</label>
        <input typeof="text" id="num2" name="num2">
        <button onclick="addCalc();return false;">Add!</button>
    </form>
    <h4 id="answer">Your answer will appear here</h4>
</div>

<div id="razorMagic" class="tabBox" style="display: none;">
    @* Lets try this again *@


    @{
        // It refuses to be a type void function, <text> must return an object I guess,
        // so this ignores the return and basically turns it into a void, the way I want it!
        // This feels so stupid but I couldn't figure out how to just ignore it at the source.
        // I'll come back to this and hopefully have a better fix
        _ = Looper();

        // Loops a bunch of divs and ps
        bool Looper()
        {
            string[] lasagArray = { "There's nothing happening today", "I finally got the wildfire in my sock drawer under control!", "Out of the ordinary, anyways" };
            for (int i = 0; i < lasagArray.Length; i++)
            {
                //visual studio keeps add space here, I don't know why but I'm tired of fighting it.
                <text>
                    <div class="lasag">
                        <p> @lasagArray[i] </p>
                    </div>
                </text>

            }
            return false;
        }
    }
</div>

@{
    bool productBoxCreator(string name, string price)
    {

        <div class="product">
            <div class="imageBox"></div>
            <div class="description">
                <h5>@name</h5>
                <p>@price</p>
            </div>
        </div>
        return false;
    }
    bool docBoxCreator(string name, string copy)
    {

        <div class="document">
            <div class="imageBox"></div>
            <div class="description">
                <div>
                    <h5>@name</h5>
                    <p>@copy</p>
                </div>
                <button>Read More</button>
            </div>
        </div>
        return false;
    }


}


<div id="productGrid" class="tabBox" style="display:none;">
    <div class="gridDiv">
        @{
            _ = productBoxCreator("Wealth Generating Magic Beads", "$5.99");
        }
        @{
            _ = productBoxCreator("Gemstones of Infinite Wisdom", "$2.99");
        }
        @{
            _ = productBoxCreator("Incredible Beading Wire", "$100.99");
        }
        @{
            _ = productBoxCreator("Edible Beading Wire", "$12.99");
        }
        @{
            _ = productBoxCreator("Beads", "$0.99");
        }
        @{
            _ = productBoxCreator("Garfield-Flavored Earings", "$9.99");
        }
        @{
            _ = productBoxCreator("Qwerty Charm Bracelet", "$29.99");
        }
        @{
            _ = productBoxCreator("Lasagna", "$7.99");
        }
        @{
            _ = productBoxCreator("Spirit Draining Death Beads", "$6.66");
        }
    </div>
</div>

<div id="hubPage" class="tabBox" style="display:none">
    <div class="featured">
        @{
            _ = docBoxCreator("How-To: Forge One Ring to Rule Them All", "Those pesky elves keep trying to foil your plans to dominate all of Middle-Earth? With these 17 rings, (7 for the dwarf lords, 9 for the kings of men, and one ring to rule them all) You'll be dominating all of Middle-Earth in no time!");
        }
    </div>
    <div class="gridDiv">


        @{
            _ = docBoxCreator("Interview with Celebrimbor, Master Crafter of the 3 Elven Rings of Power", "Celebrimbor tells all in this exclusive Fire Mountain Gems interview");
        }
        @{
            _ = docBoxCreator("Dwarven Craftsmanship: The Design Language of Durin's Folk", "Join the best Dwarvish craftsmen while they discuss the intricacies of Dwarven handiwork");
        }
        @{
            _ = docBoxCreator("Saruman Tells All: My Uruk-Hai Story", "Saruman tells his side of the story: a story of fatherly love and affection for his massive Uruk-Hai army");
        }

    </div>
</div>